<h1><%= @artist.name %></h1>
<%= link_to "[Delete artist!]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>

<h4>All songs!</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <li><%= song.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>This artist did not produce songs.</p>
<% end %>
